<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Une page EJS</title>
    <link rel="stylesheet" type="text/css" href='/site.css'>
    <link rel="stylesheet" type="text/css" href="/menu.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/ajax.js"></script>
</head>
<body>
<% console.log("Les donnees qui sont envoyées à la page: "+page+"    "+data+" "+username)%>
<%-include('../sources/partials/head',{connected:username})%>
<%-include(page,{donnees:data,connected:username,display:dis,searched:search})%>
<%-include ../sources/partials/foot%>
</body>
</html>