<div class="form">
    <form method="post" action="/login">
        <label for="ml" > Your E-Mail : </label></br>
        <p><input type="email" id="ml" name="mail" value="faridath.akinotcho@yahoo.fr"/></p>
        <label for="pw"> Choose a Password</label></br>
        <p><input type="password" id="pw" name="pwd" value="ordinateur"/><span class="err" id="errpwd"></span></p>
        <input type="submit" value="Sign in !" id="send"/>
        <p id="push"> You do not have an account yet ?No worries, just <a href="subscribe">sign up</a> instead</p>
    </form>
</div>
