
    <div id="main">
    <div>N<span style="color:red">etf</span>lix & Chill</div>
    <p> Feeling lonely and looking for someone to share your passion for Netflix with ?
    Sick of having no-"buddy" to binge watch on your couch with you ?</p>
    </div>
   
